html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/*GENERAL*/

* {
	margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
	font-family: 'Cabin', sans-serif;
  color:#232323;
}


/*HEADER*/

header {
  background-image: url(./tasty-assets/asset-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
   
}


nav p {
  font-family: 'Great Vibes';
  font-size: 55px;
  padding: 20px;

}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  
}

ul {
	list-style: none;
	display: flex;
	
}

li a {
	text-align: center;
	padding: 20px;
	display: inline-block;
  color: #232323;
  font-size: 20px; 
  text-decoration: none;
  
}


.feature {
	display: flex;
	justify-content: center;
  text-align: center;
  padding: 150px 0;
	
}

h1 {
  font-family: 'Cabin';
  font-size: 32px;
  
  
}

span {
  font-family: 'Great Vibes';
  font-size: 120px;
  display: block;

}




/* MAIN
section 1*/


.about {
  display: block;
	justify-content: center;
  text-align: center;
  height: 50vh;
  background-color: #eaedf4; 

  
  
}


h2 {
  font-family: 'Great Vibes';
  font-size: 42px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

p {
  font-family: 'Cabin';
  font-size: 18px;
  line-height: 29px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 20px;

}

button {
  background: #FDC800;
  color: #232323;
  border: none;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  

}


.icon {
  
  text-align: center;
  height: 25vh;
  background-color: black;
  color:white;
  
  
  
}

.icon ul {
  height: 100px;
  width: 100px;


}

.icon img {
  height: 100px;
  width: 100px;
  margin: 20px 20px 0px 20px;


}


.gallery {
  height: 40vh;
  background-color: #f8f8f8; 
  display: block;
  justify-content: space-evenly;

  }

.gallery li {

  margin-left: auto;
  margin-right: auto;


  }


.gallery img {
  height: 200px;
  width: 200px;



  }